export(write.marker.geno.csv)
export(write.geno.csv)
export(conf.intervals)
export(snpCounts2IGV)
export(export2IGV)
export(plotGenotype)
export(R.Viterbi)
export(DataSetImportFromtxt)
export(fitModel)
export(analysis.samples)
export(calcCOnumber)
export(calcDoubleCOnumber)
export(haplotypes.width)
export(width.DoubleCO)
export(RawDataSetImport)
exportClasses(RTIGER)
exportClasses(RViterbi)

import(e1071)
import(STAN)
import(S4Vectors)
import(methods)
import(Gviz)
import(rtracklayer)
import(GenomicRanges)
import(TailRank)