
export(RTIGER)
export(sourceJulia)
export(setupJulia)
export(plotGenotype)
export(calcCOnumber)
export(state_ratios)
export(export2IGV)
exportClasses(RTIGER)


importFrom("grDevices", "dev.off", "pdf", "rgb")
importFrom("graphics", "legend", "points")
importFrom("stats", "runif")
importFrom("utils", "read.delim", "write.table")
import(e1071)
import(methods)
import(Gviz)
import(rtracklayer)
import(GenomicRanges)
import(TailRank)
import(reshape2)
import(ggplot2)
import(JuliaCall)
import(reshape2)
import(ggplot2)
import(IRanges)
import(GenomeInfoDb)
globalVariables(c("Sample", "COs", "Chr", "value"))

